[Unit]
Description=Check and feed random data from hardware device to kernel random device
DefaultDependencies=no
Before=sysinit.target

[Service]
Environment=RNGD_OPTIONS=
EnvironmentFile=-/etc/sysconfig/rngd
ExecStart=/sbin/rngd -f $RNGD_OPTIONS

# rngd reacts slowly to SIGTERM, without a good reason
TimeoutStopSec=3

[Install]
WantedBy=sysinit.target
